*{
    text-align: center;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
 }
body{
    
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
}
#heading{
    float: left;
    display: inline;
    font-size: 1.5em;
}
nav{
    width: 70%;
}
nav>Ul{
    position: relative;
    bottom: 0;
    font-weight: bold;
    word-spacing: 8;
    width: 70%;
    margin: 4;
    top: 0;
  }
nav>ul>li{
    display: inline;
    word-spacing: normal;
    position: relative;
    width: 100%;
   }
nav>ul>li:hover{
    color: black;
    
}
header{
    color: white;
    background: #834d9b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #834d9b , #d04ed6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #834d9b , #d04ed6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    word-spacing: 1px;
    height: 7%;
    position: fixed;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.35);
    }
footer{
    background-color:rebeccapurple;
    color: white;
    font-weight: bold;
    position:relative;
    width: 100%;
    bottom: 0;
}
a{
    text-decoration: none;
    color: black;
}
a#nav{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a#nav:hover{
    color: black;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
    top: 7%;
    background-image: url(images/pexels-photo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#content>h1{
    color: white;
    position: relative;
    text-align: center;
    top: 20%;
    font-size: 3em;
    animation: slidedown 5s 1;
}
@keyframes slidedown{
    0%{
        transform: translate3d(0em,-1em,0em);
    }
    100%{
        transform: translate3d(0em,0em,0em);
    }
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideup{
    0%{
        transform: translate3d(0em,1em,0em);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translate3d(0em,0em,0em);
        opacity: 1;
    }    
}
.btnbooknow{
    color: #834d9b; /* fallback for old browsers */
    background-color: white;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10;
    border-radius: 6em;
    animation: fadein 6s 1;
}
.btnbooknow:hover{
    color: white;
    background: #834d9b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #834d9b , #d04ed6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #834d9b , #d04ed6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#services{
    position: relative;
    background-color: darkgray;
    height: 60%;
    margin: 0;
    overflow-y: hidden;        
}
#services>table{
    position: relative;
    width: 100%;
    height: 50%;
    top: 10%;
}
td#icon>img{
    width: 40%;
    margin-bottom: 0;
    overflow-y: hidden;
}
td#caption>h3{
    position: relative;
}
#contact-us{
    position: relative;
    height: 20%;
    overflow-y: hidden;
}
#contact{
    position: relative;
    height: 100;
        }
#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 38px; /* Width of image */
    height: 38px; /* Height of image */
    background: url(images/ScrollUp.svg) no-repeat;
    border: 6px;
    border-style: solid;
    border-radius: 24px;
    border-color: #834d9b;
}
#booknow{
    height: 100%;
    background-image: url(images/pexels-photo-131921.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#booknow>form{
    background-color: #18BC9C;
    width: 40%;
    position: relative;
    display: inline-block;
    height: 70%;
    margin-top: 5%;
    border: none;    
}
#booknow>form>input{
    text-align:justify;
    margin-left: 1%;
 }
*:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background:purple;
}

#packages>p {
    margin: 0 0 20px;
    line-height: 1.5;
    text-align: justify;
    color: white;
    background:purple;
    font-family: cursive;
    
}

#packages>main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
}

#packages>section {
  display: none;
  padding: 20px 0 0;
  color: black;
  margin: 0;
  
}

#packages>form>input {
  display: none;
}

#packages>form>label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: black;
  border: 1px solid transparent;
}

#packages>form>label:before {
  font-weight: normal;
  margin-right: 10px;
}

#packages>form>label[for*='1']:before { content: '\f1cb'; }
#packages>form>label[for*='2']:before { content: '\f17d'; }
#packages>form>label[for*='3']:before { content: '\f16b'; }
#packages>form>label[for*='4']:before { content: '\f1a9'; }

#packages>form>label:hover {
  color: #888;
  cursor: pointer;
}

#packages>input:checked + label {
  color: white;
  border: 1px solid purple;
  border-top: 2px solid purple;
  border-bottom: 1px solid purple;
  background-color: #A16EB7;
}
#packages{
    background: purple;
    color: white;
    margin: 0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
#imgs{
    width: 100%;
    display: inline-block;
    position: static;
}
.btnsubmit{
    color: Black;
    background-color: white;
    padding-bottom: 1%;
    padding-top: 1%;
    border-style: solid;
    border-color: white;
    border-radius: 1em;
}
.btnsubmit:hover{
    color: #18BC9C;
}
.day1s1,.day2s1,.day3s1,.day4s1,.day5s1,.day1s2,.day2s2,.day3s2,.day4s2,.day5s2,.day6s2,.day7s2,.day1s3{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 30%;
    position: relative;
    text-align: center;
    width: 100%;
}
.day1s1>h2,.day1s1>h1,.day2s1>h1,.day3s1>h1,.day4s1>h1,.day5s1>h1,.day1s2>h2,.day1s2>h1,.day2s2>h1,.day3s2>h1,.day4s2>h1,.day5s2>h1,.day6s2>h1,.day7s2>h1,.day1s3>h1{
    position: relative;
    top: 25%;
}
.day1s1{
    background-image: url(images/Airport.jpg);
}
.day2s1{
    background-image: url(images/Sri-Lanka-spice-garden-Kandy.jpg);
} 
.day3s1{
    background-image: url(images/Botanical_Garden_of_Peradeniya_03.jpg);    
}
.day4s1{
    background-image: url(images/colombo.jpg);
}
.day5s1{
    background-image: url(images/Airport3.jpg);
}
.day1s2{
    background-image: url(images/beach.jpg);
}
.day2s2{
    background-image: url(images/sri-lanka-Peradeniya-Royal-Botanical-Gardens-Kandy-trees.jpg);
}
.day3s2{
    background-image: url(images/Pinnawala.jpg);
}
.day4s2{
    background-image: url(images/tea-museum.jpg);
}
.day5s2{
    background-image: url(images/botanical-gardens.jpg);
}
.day6s2{
    background-image: url(images/Colombo1.jpg);
}
.day7s2{
    background-image: url(images/Airport2.jpg);
}
.day1s3{
    background-image: url(images/one-and-only-reethi-rah-maldives-location.jpg);
}
.day1s1c,.day2s1c,.day3s1c,.day4s1c,.day5s1c,.day1s2c,.day2s2c,.day3s2c,.day4s2c,.day5s2c,.day6s2c,.day7s2c,.day1s3c{
    width: 50%;
    display: inline-block;
    font-family: 'Adobe Gothic Std';
    font-weight: bold;
}
.parent_day1,.parent_day2,.parent_day3,.parent_day4,.parent_day5,.parent_day6,.parent_day7,.parent_day8,.parent_day9,.parent_day10,.parent_day11,.parent_day12,.parent_day13{
background:white;
}
#feedback{
    background-color: #2C3E50;
    height: 70%;
    position: relative;
    text-align: center;
}
#feedback>form{
    display: inline-block;
    position: absolute;
    top: 25%;
    background-color:lightslategrey;
    width: 30%;
    height: 50%;
    left: 35%;
    color: white;
    
}
#feedback>form>input,#feedback>form>textarea{
    text-align: left;
    color: black;
}
#services{
     -webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 6px 5px 0px rgba(0,0,0,1);
}